# Carpeta de compilación de Maven
target/

# Archivos de IDE
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# Logs
*.log

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de entorno
*.env